 #body1 {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
            background-color: #7fa6fc;
        }
      
        header h1 {
            margin: 0;
            font-size: 4em;
        }
        .container1 {
            width: 90%;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        #h21 {
            color: #004d99;
            border-bottom: 2px solid #004d99;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        #p1 {
            line-height: 1.6;
            margin-bottom: 10px;
        }
         #f1{
     position: absolute;
     width: 80px;
     left:40px;
     bottom: 595px;
     border-radius:10xp;
     height: 80px;

               }